@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "PoorStory";
  src: url("/fonts/PoorStory/PoorStory-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "DoHyeon";
  src: url("/fonts/DoHyeon/DoHyeon-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Dekko";
  src: url("/fonts/Dekko/Dekko-Regular.ttf") format("truetype");
  font-style: normal;
}
