// 폰트 설정
$title-font: "NotoSansKR", sans-serif;
$font-main: "JetBrainsMono", sans-serif;
$font-point: "PoorStory", sans-serif;
$font-title: "DoHyeon", sans-serif;

$fs-main-title: 60px;

// 색상 설정
$clr-point-color: #f87c66;
$clr-section-bg: #9a4c48;
$clr-white: white;
$clr-bottom-bg: #db9a96;

// 경로
$img-path: "../../assets/img/main/main.png";

// 레이아웃
$layout-width: 1200px;
$section-padding: 50px 0 100px 0;
